h1{
    text-align: center;

}
/* This is a comment
 in CSS file in mutiple line*/

#Heaging-section-top{
    color: green;
}

.font-color-pink{
    color: pink;
}

.font-size-10{
    font-size: 8rem;
}

.font-roboto{
    font-family: "Handlee", Times, sans-serif;
    font-style: initial;
    font-weight: bold;
    text-indent: length(12px) !important;
    letter-spacing: length(100px);
    word-spacing: normal;
    white-space: nowrap;

}

a:link, a:visited{
    color:purple;
    text-decoration:underline;
    background-color:aliceblue;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

a:hover{
    color:yellow
}

@media (max-width: 576px) {
    body {
      background-color: lightblue;
    }
  }
/* Add background color for a break point*/

body{
    background-image: url("../IMG/charlie2.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h2{
    text-decoration-line: line-through;
}